
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <a href="./WebApp1">Web App1</a>
        <a href="./WebApp2">Web App2</a>
    </div>
</body>
</html>
